parameters:
	voku:
		classesNotInIfConditions: []
		classesForCheckStringToIntCast: []
		checkForAssignments: false
		checkYodaConditions: false

parametersSchema:
	voku: structure([
		classesNotInIfConditions: listOf(string())
		classesForCheckStringToIntCast: listOf(string())
		checkForAssignments: bool()
		checkYodaConditions: bool()
	])

services:
	-
		class: voku\PHPStan\Rules\WrongCastRule
		arguments:
			classesForCheckStringToIntCast: %voku.classesForCheckStringToIntCast%
		tags:
			- phpstan.rules.rule
	
	- 
		class: voku\PHPStan\Rules\ExtendedAssignOpRule
		tags:
			- phpstan.rules.rule		
	
	-
		class: voku\PHPStan\Rules\ExtendedBinaryOpRule
		tags:
			- phpstan.rules.rule
	
	-
		class: voku\PHPStan\Rules\IfConditionBooleanAndRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule

	-
		class: voku\PHPStan\Rules\IfConditionBooleanNotRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule

	-
		class: voku\PHPStan\Rules\IfConditionBooleanOrRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule

	-
		class: voku\PHPStan\Rules\IfConditionRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule
			
	-
		class: voku\PHPStan\Rules\IfConditionBasicRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule

	-
		class: voku\PHPStan\Rules\ElseIfConditionBasicRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule

	-
		class: voku\PHPStan\Rules\IfConditionTernaryOperatorRule
		arguments:
			classesNotInIfConditions: %voku.classesNotInIfConditions%
		tags:
			- phpstan.rules.rule
